@model IEnumerable<EatMeAgain.Models.IngredientList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Stwórz przepis</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Przepis</th>
            <th>Składnik</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measure.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
